<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://v8.1c.ru/8.2/managed-application/module" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<ManagedFormModule>
<Line>
<Val>Процедура ПриЧтенииНаСервере(ОбъектНаСервере, Форма, СтандартнаяОбработка)</Val>
</Line>
<Line>
<Val>	Если Не ОбъектНаСервере.ИдентификаторПользователяИБ = "" Тогда</Val>
</Line>
<Line>
<Val>		ПользовательИБ = ПользователиИнформационнойБазы.НайтиПоУникальномуИдентификатору(</Val>
</Line>
<Line>
<Val>			Новый УникальныйИдентификатор(ОбъектНаСервере.ИдентификаторПользователяИБ));</Val>
</Line>
<Line>
<Val>		Если ПользовательИБ &lt;&gt; Неопределено Тогда</Val>
</Line>
<Line>
<Val>			ВходРазрешён = ПользовательИБ.АутентификацияСтандартная;</Val>
</Line>
<Line>
<Val>			ИмяДляВхода = ПользовательИБ.Имя;</Val>
</Line>
<Line>
<Val>		Иначе</Val>
</Line>
<Line>
<Val>			ВходРазрешён = Ложь;</Val>
</Line>
<Line>
<Val>			ИмяДляВхода = "";</Val>
</Line>
<Line>
<Val>			Пароль = "";</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	Иначе</Val>
</Line>
<Line>
<Val>		ВходРазрешён = Ложь;</Val>
</Line>
<Line>
<Val>		ИмяДляВхода = "";</Val>
</Line>
<Line>
<Val>		Пароль = "";</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПередЗаписьюНаСервере(ОбъектНаСервере, Форма, СтандартнаяОбработка, ПараметрыЗаписи)</Val>
</Line>
<Line>
<Val>	Если ВходРазрешён Тогда</Val>
</Line>
<Line>
<Val>		Если ОбъектНаСервере.ИдентификаторПользователяИБ = "" Тогда</Val>
</Line>
<Line>
<Val>			ПользовательИБ = ПользователиИнформационнойБазы.СоздатьПользователя();</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Имя = ИмяДляВхода;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Пароль = Пароль;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.АутентификацияСтандартная = Истина;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.УникальныйИдентификатор = Новый УникальныйИдентификатор;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Роли.Добавить(Роли.БазовыеПрава);</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Записать();</Val>
</Line>
<Line>
<Val>			ОбъектНаСервере.ИдентификаторПользователяИБ = Строка(ПользовательИБ.УникальныйИдентификатор);</Val>
</Line>
<Line>
<Val>		Иначе</Val>
</Line>
<Line>
<Val>			ПользовательИБ = ПользователиИнформационнойБазы.НайтиПоУникальномуИдентификатору(</Val>
</Line>
<Line>
<Val>				Новый УникальныйИдентификатор(ОбъектНаСервере.ИдентификаторПользователяИБ));</Val>
</Line>
<Line>
<Val>			Если ПользовательИБ &lt;&gt; Неопределено Тогда</Val>
</Line>
<Line>
<Val>				ПользовательИБ.Имя = ИмяДляВхода;</Val>
</Line>
<Line>
<Val>				Если Пароль &lt;&gt; "" Тогда</Val>
</Line>
<Line>
<Val>					ПользовательИБ.Пароль = Пароль;</Val>
</Line>
<Line>
<Val>				КонецЕсли;</Val>
</Line>
<Line>
<Val>				ПользовательИБ.АутентификацияСтандартная = Истина;</Val>
</Line>
<Line>
<Val>				ПользовательИБ.Записать();</Val>
</Line>
<Line>
<Val>			КонецЕсли;</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	ИначеЕсли ОбъектНаСервере.ИдентификаторПользователяИБ &lt;&gt; "" Тогда</Val>
</Line>
<Line>
<Val>		ПользовательИБ = ПользователиИнформационнойБазы.НайтиПоУникальномуИдентификатору(</Val>
</Line>
<Line>
<Val>			Новый УникальныйИдентификатор(ОбъектНаСервере.ИдентификаторПользователяИБ));</Val>
</Line>
<Line>
<Val>		Если ПользовательИБ &lt;&gt; Неопределено Тогда</Val>
</Line>
<Line>
<Val>			ПользовательИБ.АутентификацияСтандартная = Ложь;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Записать();</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
</ManagedFormModule>
</Module>
