<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://v8.1c.ru/8.2/managed-application/module" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<ManagedFormModule>
<Line>
<Val>Процедура ПриЧтенииНаСервере(ТекущийОбъект, Форма, СтандартнаяОбработка)</Val>
</Line>
<Line>
<Val>	Если Не ТекущийОбъект.ИдентификаторПользователяИБ = "" Тогда</Val>
</Line>
<Line>
<Val>		ПользовательИБ = ПользователиИнформационнойБазы.НайтиПоУникальномуИдентификатору(</Val>
</Line>
<Line>
<Val>			Новый УникальныйИдентификатор(ТекущийОбъект.ИдентификаторПользователяИБ));</Val>
</Line>
<Line>
<Val>		Если ПользовательИБ &lt;&gt; Неопределено Тогда</Val>
</Line>
<Line>
<Val>			ВходРазрешён = ПользовательИБ.АутентификацияСтандартная;</Val>
</Line>
<Line>
<Val>			ИмяДляВхода = ПользовательИБ.Имя;</Val>
</Line>
<Line>
<Val>		Иначе</Val>
</Line>
<Line>
<Val>			ВходРазрешён = Ложь;</Val>
</Line>
<Line>
<Val>			ИмяДляВхода = "";</Val>
</Line>
<Line>
<Val>			Пароль = "";</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	Иначе</Val>
</Line>
<Line>
<Val>		ВходРазрешён = Ложь;</Val>
</Line>
<Line>
<Val>		ИмяДляВхода = "";</Val>
</Line>
<Line>
<Val>		Пароль = "";</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПередЗаписьюНаСервере(ТекущийОбъект, Форма, СтандартнаяОбработка, ПараметрыЗаписи)</Val>
</Line>
<Line>
<Val>	Если ТекущийОбъект.ИдентификаторПользователяИБ &lt;&gt; "" Тогда</Val>
</Line>
<Line>
<Val>		ПользовательИБ = ПользователиИнформационнойБазы.НайтиПоУникальномуИдентификатору(</Val>
</Line>
<Line>
<Val>			Новый УникальныйИдентификатор(ТекущийОбъект.ИдентификаторПользователяИБ));</Val>
</Line>
<Line>
<Val>		Если ПользовательИБ &lt;&gt; Неопределено Тогда</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Имя = ИмяДляВхода;</Val>
</Line>
<Line>
<Val>			Если Пароль &lt;&gt; "" Тогда</Val>
</Line>
<Line>
<Val>				ПользовательИБ.Пароль = Пароль;</Val>
</Line>
<Line>
<Val>			КонецЕсли;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.АутентификацияСтандартная = ВходРазрешён;</Val>
</Line>
<Line>
<Val>			ПользовательИБ.Записать();</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	ИначеЕсли ВходРазрешён Тогда</Val>
</Line>
<Line>
<Val>		ПользовательИБ = ПользователиИнформационнойБазы.СоздатьПользователя();</Val>
</Line>
<Line>
<Val>		ПользовательИБ.Имя = ИмяДляВхода;</Val>
</Line>
<Line>
<Val>		ПользовательИБ.Пароль = Пароль;</Val>
</Line>
<Line>
<Val>		ПользовательИБ.АутентификацияСтандартная = Истина;</Val>
</Line>
<Line>
<Val>		ПользовательИБ.УникальныйИдентификатор = Новый УникальныйИдентификатор;</Val>
</Line>
<Line>
<Val>		ПользовательИБ.Роли.Добавить(Метаданные.Роли.БазовыеПрава);</Val>
</Line>
<Line>
<Val>		ПользовательИБ.Записать();</Val>
</Line>
<Line>
<Val>		ТекущийОбъект.ИдентификаторПользователяИБ = Строка(ПользовательИБ.УникальныйИдентификатор);</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура СлучайныйПароль(Команда)</Val>
</Line>
<Line>
<Val>	Символы = "abcdefghijklmnopqrstuvwxyz0123456789";</Val>
</Line>
<Line>
<Val>	ДлинаПароля = 5;</Val>
</Line>
<Line>
<Val>	Пароль = "";</Val>
</Line>
<Line>
<Val>	Для i = 1 По ДлинаПароля Цикл</Val>
</Line>
<Line>
<Val>		Пароль = Пароль + Сред(Символы, СлучайноеЧисло(1, СтрДлина(Символы)), 1);</Val>
</Line>
<Line>
<Val>	КонецЦикла;</Val>
</Line>
<Line>
<Val>	Объект.Пароль = Пароль;</Val>
</Line>
<Line>
<Val>	Элементы.Пароль.PasswordMode = Ложь;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
</ManagedFormModule>
</Module>
