<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://v8.1c.ru/8.3/managed-application/module" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Procedure name="УстановкаПараметровСеанса">
		<Parameter name="Отказ">
			<Type>
				<xs:element name="Boolean"/>
			</Type>
		</Parameter>
		<Parameter name="СтандартнаяОбработка">
			<Type>
				<xs:element name="Boolean"/>
			</Type>
		</Parameter>
		<Body>
			<Line>
				<Val>ТекущийПользователь = ПользователиИнформационнойБазы.ТекущийПользователь();</Val>
			</Line>
			<Line>
				<Val>Сотрудник = Справочники.Сотрудники.НайтиПоРеквизиту("ИдентификаторПользователяИБ", ТекущийПользователь.УникальныйИдентификатор);</Val>
			</Line>
			<Line>
				<Val>ПараметрыСеанса.ТекущийСотрудник = Сотрудник;</Val>
			</Line>
		</Body>
	</Procedure>
</Module>
