<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://v8.1c.ru/8.2/managed-application/module" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<ManagedFormModule>
<Line>
<Val>Процедура ТипПриИзменении(Элемент)</Val>
</Line>
<Line>
<Val>	Если Объект.Тип = Перечисления.ЮридическоеФизическоеЛицо.ФизическоеЛицо Тогда</Val>
</Line>
<Line>
<Val>		Элементы.КПП.Доступность = Ложь;</Val>
</Line>
<Line>
<Val>		Объект.КПП = "";</Val>
</Line>
<Line>
<Val>	Иначе</Val>
</Line>
<Line>
<Val>		Элементы.КПП.Доступность = Истина;</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ИННПриИзменении(Элемент)</Val>
</Line>
<Line>
<Val>	ПроверитьИНН();</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПроверитьИНН()</Val>
</Line>
<Line>
<Val>	Если Объект.Тип = Перечисления.ЮридическоеФизическоеЛицо.ЮридическоеЛицо Тогда</Val>
</Line>
<Line>
<Val>		Если НЕ ПустаяСтрока(Объект.ИНН) И СтрДлина(Объект.ИНН) &lt;&gt; 10 Тогда</Val>
</Line>
<Line>
<Val>			Элементы.ИНН.УстановитьТекстПодсказки("ИНН юридического лица должен содержать 10 цифр");</Val>
</Line>
<Line>
<Val>		Иначе</Val>
</Line>
<Line>
<Val>			Элементы.ИНН.УстановитьТекстПодсказки("");</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	ИначеЕсли Объект.Тип = Перечисления.ЮридическоеФизическоеЛицо.ФизическоеЛицо Тогда</Val>
</Line>
<Line>
<Val>		Если НЕ ПустаяСтрока(Объект.ИНН) И СтрДлина(Объект.ИНН) &lt;&gt; 12 Тогда</Val>
</Line>
<Line>
<Val>			Элементы.ИНН.УстановитьТекстПодсказки("ИНН физического лица должен содержать 12 цифр");</Val>
</Line>
<Line>
<Val>		Иначе</Val>
</Line>
<Line>
<Val>			Элементы.ИНН.УстановитьТекстПодсказки("");</Val>
</Line>
<Line>
<Val>		КонецЕсли;</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура РаскрытьОПФ(Знач Наименование)</Val>
</Line>
<Line>
<Val>	Наименование = СокрЛП(Наименование);</Val>
</Line>
<Line>
<Val>	Если Лев(Наименование, 3) = "АО " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Акционерное общество " + Сред(Наименование, 4);</Val>
</Line>
<Line>
<Val>	ИначеЕсли Лев(Наименование, 4) = "ПАО " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Публичное акционерное общество " + Сред(Наименование, 5);</Val>
</Line>
<Line>
<Val>	ИначеЕсли Лев(Наименование, 4) = "ООО " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Общество с ограниченной ответственностью " + Сред(Наименование, 5);</Val>
</Line>
<Line>
<Val>	ИначеЕсли Лев(Наименование, 4) = "ЗАО " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Закрытое акционерное общество " + Сред(Наименование, 5);</Val>
</Line>
<Line>
<Val>	ИначеЕсли Лев(Наименование, 4) = "ОАО " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Открытое акционерное общество " + Сред(Наименование, 5);</Val>
</Line>
<Line>
<Val>	ИначеЕсли Лев(Наименование, 3) = "ИП " Тогда</Val>
</Line>
<Line>
<Val>		Наименование = "Индивидуальный предприниматель " + Сред(Наименование, 4);</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>	Возврат Наименование;</Val>
</Line>
<Line>
<Val>КонецФункции</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура НаименованиеПриИзменении(Элемент)</Val>
</Line>
<Line>
<Val>	Если Не ПолноеНаименованиеЗаполненоВручную Тогда</Val>
</Line>
<Line>
<Val>		Объект.ПолноеНаименование = РаскрытьОПФ(Объект.Наименование);</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПолноеНаименованиеПриНачалеВыбора(Элемент, СтандартнаяОбработка)</Val>
</Line>
<Line>
<Val>	ПолноеНаименованиеЗаполненоВручную = Истина;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПолноеНаименованиеПриИзменении(Элемент)</Val>
</Line>
<Line>
<Val>	ПолноеНаименованиеЗаполненоВручную = Истина;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПриСозданииНаСервере(ОбъектНаСервере, Форма, СтандартнаяОбработка)</Val>
</Line>
<Line>
<Val>	Объект.Тип = Перечисления.ЮридическоеФизическоеЛицо.ЮридическоеЛицо;</Val>
</Line>
<Line>
<Val>	Объект.Ответственный = ПараметрыСеанса.ТекущийСотрудник;</Val>
</Line>
<Line>
<Val>	ПолноеНаименованиеЗаполненоВручную = Ложь;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
<Line>
<Val></Val>
</Line>
<Line>
<Val>Процедура ПриОткрытии()</Val>
</Line>
<Line>
<Val>	Если Объект.Ссылка.Пустая() Тогда</Val>
</Line>
<Line>
<Val>		Элементы.КПП.Доступность = Истина;</Val>
</Line>
<Line>
<Val>	ИначеЕсли Объект.Тип = Перечисления.ЮридическоеФизическоеЛицо.ФизическоеЛицо Тогда</Val>
</Line>
<Line>
<Val>		Элементы.КПП.Доступность = Ложь;</Val>
</Line>
<Line>
<Val>	КонецЕсли;</Val>
</Line>
<Line>
<Val>КонецПроцедуры</Val>
</Line>
</ManagedFormModule>
</Module>
